<h1>Analizador de PL0 ampliado usando PEG.js</h1>
<div id="content">
  <p>
    Load an example:
    <input type="file" id="examples" />
  </p>
  <p>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea id="input" name="input" 
                    autofocus cols = "40" rows = "4">
                    <%= source %>
          </textarea>
          <br/>
          <label for="saveas">Save as</label>
          <input id="saveas" type="text" name="fname" 
                 title="name" pattern="\w+" />
        </form>
      </td>
      <td class="output">
        <pre>
<span id="output"></span> <!-- Output goes here! --> 
        </pre>
      </td>
      <td><button id="parse" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <nav>
  <ul>
    <% programs.each do |p| %>
      <li><a href="<%= p.name %>"><%= p.name %></a></li>
    <% end %>
  </ul>
  </nav>
</div>

<script src="pl0.js"></script>
<script src="main.js"></script>
